/*.centerth > th {
  text-align: center;
}
.centerth > td {
  text-align: center;
}*/

.table-center {
    text-align: center;
}
.main-info {
    padding: 40px 0;
}
.search{
    position:relative;
}

.search_result{
    background: #FFF;
    border: 1px #ccc solid;
    border-radius: 4px;
    max-height:100px;
    overflow-y:scroll;
    display:none;
}

.search_result li{
    list-style: none;
    padding: 5px 10px;
    margin: 0 0 0 -40px;
    color: #000000;
    border-bottom: 1px #ccc solid;
    cursor: pointer;
    transition:0.3s;
}

.search_result li:hover{
    background: #0083ff;
}

.who {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}