﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Sibers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Test Sibers</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Главная", "Index", "Home", null, new { @class = "nav-link" })
                    <!--<a class="nav-link" href="">Главная</a>-->
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Проекты</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        @Html.ActionLink("Добавить новый проект", "NewProject", "Project", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Управление проектами", "Index", "Project", null, new { @class = "dropdown-item" })
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сотрудники</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        @Html.ActionLink("Добавить нового сотрудника", "NewEmployee", "Employee", null, new { @class = "dropdown-item" })
                        @Html.ActionLink("Управление сотрудниками", "Index", "Employee", null, new { @class = "dropdown-item" })
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    @*Html.ActionLink("Домашняя страница", "Index", "Home")*@

    <main role="main" class="container">
        @RenderBody()
    </main>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/addProject")
    @RenderSection("scripts", required: false)
</body>
</html>
