﻿@model TestSibers.Models.ProjectModel
@{
    ViewBag.Title = "Test Sibers - Добавить нового проекта";
}

<h2>Добавить новый проект</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm("Create", "Project", FormMethod.Post))
{
    <div class="form-group row">
        <label class="col-2 col-form-label">Название проекта</label>
        <div class="col-10">
            @Html.TextBox("Name", "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Название компании-заказчика</label>
        <div class="col-10">
            @Html.TextBox("CompanyCustomer", "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CompanyCustomer, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Название компании-исполнителя</label>
        <div class="col-10">
            @Html.TextBox("CompanyExecutor", "", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CompanyExecutor, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--Руководитель-->
    <div class="form-group row">
        <label class="col-2 col-form-label">Руководитель проекта</label>
        <div class="col-10">
            @Html.Hidden("ProjectManagerId", "")
            <input type="text" name="referal" placeholder="" value="" class="who" autocomplete="off">
            <a href="#" id="pickAnother" style="display: none;">Выбрать другого...</a>
            <ul class="search_result"></ul>
        </div>
    </div>

    <!--Исполнители-->

    <div class="form-group row">
        <label class="col-2 col-form-label">Приоритет (>=0)</label>
        <div class="col-10">
            <input class="form-control" type="number" id="Priority" name="Priority" value="0">
            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Дата начала</label>
        <div class="col-10">
            <input class="form-control" type="date" value="@DateTime.Today.Date.ToString("yyyy-MM-dd")" id="StartDate" name="StartDate">
            @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Дата окончания</label>
        <div class="col-10">
            <input class="form-control" type="date" value="@DateTime.Today.Date.ToString("yyyy-MM-dd")" id="EndDate" name="EndDate">
            @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control" id="Caption" name="Caption" rows="3"></textarea>
        @Html.ValidationMessageFor(model => model.Caption, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary">Добавить</button>
}

<div style="height: 100px;"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}